*{
    padding: 0;
    margin: 0;
    
}
.content{
    
    z-index: 1px;
}
.animate{
    animation:opac 3000ms steps(10000) 1;
}
body{
    background-image: url('images/Clear-day.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.animate-before::before{
    animation:bodyblur 4000ms steps(10000) 1;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit; /* Inherit the background image from the body */
    filter: blur(8px); /* Adjust the blur amount as needed */
    z-index: -1; /* Ensure the pseudo-element is behind other content */   
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    background: #0275dd;
    padding: 25px 30px;
    position: sticky;
    top:0;
    z-index: 100;
    color: white;
    box-shadow: 8px 10px 13px grey;
}
#nav-div1{
    display: flex;
    flex-direction: row;
    gap:30px;
    font-size: larger;
}
#nav-div1 ul{
    display: flex;
    flex-direction: row;
    gap:15px;
    list-style: none;
    place-items: center;
}
#nav-div2 input{
    padding: 10px 10px;
    border:1px solid grey;
    border-radius: 8px;
    width: 300px;
    margin: 0 15px;
}
.buttons{
    padding: 10px 15px;
    background: darkturquoise;
    border: none;
    border-radius: 10px;
    color: white;
    transition: ease-in-out 0.3s;
}
.buttons:hover{
    transform: scale(1.11);
    transition: ease-in-out 0.3s;
    background-color: rgb(3, 251, 255);
}
.buttons:active{
    transform: scale(1);
}
#nav-div2 input:focus{
    outline-color: rgb(60, 248, 251);
}
#hero-heading{
    margin: 20px;
    font-family:Didot, serif;
    font-weight: 100;
    border-bottom: 2px solid white;
    width: max-content;
    padding: 5px 30px;
    color: white;
}
.hero-cards{
    border: 1px solid #0275dd;
    width: 350px;
    text-align: center;
    border-radius: 10px; 
    margin: 10px; 
    overflow: hidden; 
    background: white;
    box-shadow: 8px 10px 13px grey;
}
.card-heading{
    font-size: 30px;
    padding: 10px 0px;
    border: 1px solid #0275dd;
    background: #0275dd;
    color: white;
}
#hero-Main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 100px;
}
.hero-card-style{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: larger;
}
.card-main{
    font-size: 40px;
}
.table-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
#desc{
    text-align: center;
    font-weight: 100;
    padding: 10px 50px;
    font-size: 25px;
    color: white;
    border-bottom:1px solid white;
}
#hero-head-div{
    display: flex;
    justify-content: center;
}
#desc-div{
    display: flex;
    justify-content: center;
}
#alert{
    color: red;
    text-align: center;
    font-size: 25px;
}
#others{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: white;
}
.list2{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 150px;
    border: 1px solid grey;
    background: white;
    font-size: 20px;
    border-radius: 8px;
    gap:10px;
    list-style: none;
    overflow: hidden;
   padding-bottom: 15px;
   box-shadow: 8px 10px 13px grey;
}
#other-rep{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    padding: 30px 80px;
    row-gap: 40px;
}
.li-m{
    font-size: 25px;
    font-weight:600;
    border-bottom: 1px solid black;
    background: #0275dd;
    padding: 10px 30px;
    color: white;
}
#t-btn2{
    font-size: x-large;
    box-shadow: 3px 4px 10px grey;
}
#t-btn2:hover{
    box-shadow: 8px 10px 13px grey;
}
#nav-div1 ul li:hover{
    border-bottom: 3px solid orange;
    transition: ease-in 0.3s;
    cursor: pointer;
}
#nav-div1 ul li{
    border-bottom: 3px solid transparent;
    transition: ease-in 0.3s;   
    padding: 4px 3px;
}
#date1{
    position: absolute;
    top:50px;
    display: none;
    overflow:hidden;
    background:lightcyan;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sd{
    position: relative;
    
}
.date-cont{
    position: relative;
    display: inline-block;
}
#date1:focus{
    outline-color: darkturquoise;
}
#date-btn{
    position: absolute;
    top: 55px;
    left:200px;  
    display: none;
    overflow:hidden;
}
@keyframes opac{
    from
    {
        opacity: 0%;
    }
    30%{
        opacity:0% ;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes bodyblur {
    from{
        filter: blur(0px);
    }
    50%{
        filter: blur(0px);
        
    }
    100%{
        filter: blur(10px);
    }
}
@keyframes animOpac {
    from{
        opacity:0%;
    }
    30%{
        opacity: 0%;
    }
    40%{
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(0, 0, 0, 0.693);
    font-size: 4rem;
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    white-space:nowrap;
    opacity: 0%;
    
}
.animateMiddle{
    animation: animOpac 4s ease-out 1 ;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #0275dd;
    color: white;
    padding: 15px 30px;
    border: none;
    gap:50px;
    margin-top: 20px;
    box-shadow: 3px -4px 10px grey;
}
footer .ft-links{
    display: flex;
    flex-direction: row;
    gap:30px;
}
footer .ft-links a{
    text-decoration: none;
    color: white;
}
#ft-h1{
    font-size: 2rem;
}
